.patient-container {
  .search-field{
    width: 90%;
    border-radius: 10px;
    border: none;
    outline: none;
  }
  .search-field:focus {
    background-color: var(--popup-background);
  }
  .patient-list{
    padding: 0;
    width: 90%;
    display: grid;
    gap: 30px;
    list-style-type: none;
  }
  .patient {
    border: 2px solid var(--secondary-color);
    padding: 10px;
    border-radius: 10px;
    border: var(--popup-background) 2px dotted;
    .patient-picture {
      width: 100px;
      height: 100px;
      border-radius: 100%;
    }
    .patient-name {
      margin: 0;
      width: max-content;
      padding-left: 10px;
      border-left:2px solid var(--secondary-color);
    }
  }
  .patient:hover{

    border: var(--main-heading) 2px solid;
    transition: ease 0.5s;
  }

  .popup{
    position: absolute;
    background-color: var(--popup-background);
    border-radius: 10px;
    width: 75%;
    height: 75%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    .note-container {
      height: 80vh;
    }
    .patient-notes {
      list-style-type: none;
      flex-grow: 1;
      overflow: scroll;
      padding: 0;
      gap: 30px;
    }
    .patient-notes  >* {
      width: max-content;
      padding: 0 10px;
      border-radius: 10px;
      background-color: var(--primary-color);
    }
    .note-form{
      align-self: flex-end;
    }
    .note-form > input {
      border: none;
      border-radius: 10px;
      padding-left: 10px;
      width: 100%;
    }
  }
}
  @media only screen and (min-width: 680px) {
    .patient-container {
      padding: 0.5em 2.5em;
    }

    .search-field{
      width: 75%;
    }
    .patient-list {
      grid-template-columns: repeat(2, auto);
    }
    .popup {
      width: 75%;
    }
    .desktop-container {
      padding: 0.5em 5em;
    }
  }



