*.stock {
  margin: 0 10%;
  .btn.btn-info {
    color: #fff;
    font-size: 18px;
  }

  button.nav-link {
    color: var(--text-color);
    font-size: 18px;
  }

  button.nav-link.active {
    background-color: #fff;
  }

  .pagination li {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: var(--text-color);
      padding: 18px;
      width: 20px;
      height: 20px;
    }

    border-radius: 100%;
    border: 1px solid #ced4da;
  }

  .page.active {
    a {
      color: #fff;
    }

    background-color: #59bad9;
  }

  .stock-list {
    .hg-row {
      background-color: rgba(255, 0, 0, 0.171);
    }

    .stock-list {
      max-height: calc(100vh - 300px);
      overflow-y: auto;
    }

    .stock-form {
      gap: 10px;
    }

    .stock-logs {
      width: 100%;
    }
  }
}
