*.stock-list {
  .hg-row {
    background-color: rgba(255, 0, 0, 0.171);
  }

  .stock-list {
    max-height: calc(100vh - 300px);
    overflow-y: auto;
  }

  .stock-form {
    gap: 10px;
  }

  .stock-logs {
    width: 100%;
  }
}
