* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', Arial, sans-serif;
}
  body {
    min-height: 100vh;
    font-weight: 600;
    color:var(--text-color);
    background-color: var(--primary-color);
  }

.App {
  background-color: var(--primary-color);
  min-height: 100vh;
  ::-webkit-scrollbar {
    display: none;
  }

  .main-heading {
    color: var(--main-heading)
  }
  .pointer {
    cursor: pointer;
  }
  .smallest-font {
    font-size: 12px;
    font-weight: 600;
  }
}
