* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  body {
    min-height: 100vh;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
  }
}
.App {
  background-image: url('./assets/big-shape.svg');
  min-height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  color:var(--main-heading);

  .login-form {
    min-height: 100vh;
    justify-content: center;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .main-heading {
    color: var(--main-heading)
  }
  .pointer {
    cursor: pointer;
  }
  .smallest-font {
    font-size: 12px;
    font-weight: 600;
  }
}
