@import "~bootstrap/scss/bootstrap";
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
:root {
  --primary-color: #F6F8FC;
  --main-heading: #00c8ff;
  --orange-color: #EAC292;
  --popup-background: #d5ecff;
  --text-color: #333c70;
  }
