.dashboardContainer {
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
   justify-content: space-around;
    padding: 5% 0;
}     
.chart {
    max-height: 400px;
    box-shadow: 0 10px 10px #cfcfcf;
}
.stats {
    justify-content: center;
    padding: 2rem;
    width: 100%;
    overflow-x: scroll;
}
.statContainer {
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    min-width: 10vw;
    padding: 2rem;
    margin: 0 2vw;
    border-radius: 10%;
    box-shadow: 0 10px 10px #cfcfcf;
   }

   .statContainer > span {
  overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
   }